/*******************************************************
 *
 * 1. Reset
 *
 *******************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

area,
img,
map {
	outline:none;
}

/* Helpers */

.clearfix,
.clear {
	clear:both;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html,
body { 
	-webkit-text-size-adjust:none; 
}

::-webkit-input-placeholder { /* WebKit browsers */
	opacity: 1;
    color: inherit;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	opacity: 1;
    color: inherit;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 1;
	color: inherit;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    opacity: 1;
	color: inherit;
}

input,
textarea,
button,
select {
    border-radius: 0;
    font-family:inherit; 
}

textarea {
    resize: vertical;
}
a{
	outline: none;
}

.ai-hide {
	display: none!important;
}

body{
	color: #524e4d;
	font-family: 'Open Sans';

}

/* Header Banner */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

* {
	box-sizing: border-box;
}

:root {
	--bg: rgb(9, 14, 23);
	--gradientBg: linear-gradient(45deg, #40e0d0, #9932cc, #ff1493, orange);
}

body {
	font-family: Montserrat, sans-serif;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: #ffffff;
}

/* Reset */
a {
	color: inherit;
}

ul {
	list-style: none;
}

button {
	border-radius: 0.4em;
	background: var(--bg);
	color: white;
	border: none;
	padding: 0.5rem;
	font-size: inherit;
	cursor: pointer;
}

.wrapper {
	position: relative;
}

/* Text */
.hero__heading {
	font-size: clamp(2rem, 5vw, 8rem);
	text-transform: uppercase;
	margin: 0;
}

/* Menu */
.menu {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	background: var(--gradientBg);
	clip-path: circle(0 at calc(100% - 2rem) 2rem);
	transition: clip-path 500ms;
	z-index: 1;
	font-size: clamp(1rem, 2vw, 4rem);
	z-index: 99;
}

.menu.is-open {
	clip-path: circle(200% at calc(100% - 2rem) 2rem);
	pointer-events: all;
}

.menu a {
	display: block;
	padding: 0.5em;
	transition: all 1s ease-in-out;
}

	.menu a:hover{
		color:#000;
		text-decoration: none;
	}
.menu-button {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 999;
}

.menu-button span:last-child,
.menu-button.is-active span:first-child {
	display: none;
}

.menu-button.is-active span:last-child {
	display: inline;
}

/* Hero */
.hero {
	min-height: 100vh;
	padding: clamp(1rem, 2vw, 5rem);
	display: flex;
	align-items: center;
}

.hero--secondary {
	--mask: radial-gradient(
		circle at var(--x, 50%) var(--y, 50%),
    black var(--maskSize1, 0), 
		transparent 0, 
		transparent var(--maskSize2, 0),
    black var(--maskSize2, 0), 
		black var(--maskSize3, 0), 
		transparent 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--gradientBg);
	color: rgb(9, 14, 23);
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
}
/* Header Banner */
/** THEME **/
.fixed-header{
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 75px;
	background-color: rgba(255,255,255,.8);
	z-index: 10;
	opacity: 0;
	-webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 2px 10px rgba(0,0,0,.3);
	box-shadow: 1px 2px 10px rgba(0,0,0,.3);

}

	.fixed-header .logo{
		width: 65px;
		padding: 5px 0;
	}
		.fixed-header .logo img{
			display: block;
			width: 100%;
			height: auto;
		}

	.fixed-header .navigation{
		text-align: right;
	}
		.fixed-header .navigation li {
		    padding: 34px 10px;
		    display: inline-block;
		}
			.fixed-header .navigation a{
				color: #000;
				text-transform: uppercase;
				font-weight: 700;
				transition: all .5s ease-out;

			}
				.fixed-header .navigation a:hover{
					color: #fda607;
				}

			.fixed-header .navigation a.print-resume {
			    background: #fda607;
			    display: block;
			    padding: 10px;
			    border-radius: 10px;
			    margin-top: -16px;
			    color: #fff;
			    text-decoration: none;
			}
				.fixed-header .navigation a.print-resume:hover{
					background: #d35400;
				}
#hero{
	width: 100%;
	height: 800px;
	background: url('images/code.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}


	#hero:after{
		display: block;
		width: 100%;
		height: 100%;
		content: "";
		position: absolute;
		background: #000000;
		left: 0;
		top: 0;
		opacity: 0.5;
		z-index: 2;
	}
	#hero #particles-js{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 4;
		height: 100%;
	}

	#hero {
		width: 100%;
		position: relative;
		z-index: 5;
		padding: 22px 0 10px;
	}

	#hero .hero-content{
		width: 100%;
		position: relative;
		z-index: 5;
	    color: #fff;
	    font-size: 0;
	    height: 100%;
	}
		#hero .hero-content .container{
			height: 100%;
		}

			#hero .hero-content .container:after{
				content: "";
				height: 100%;
				width: 0;
				display: inline-block;
				vertical-align: middle;
			}
			#hero .hero-content .herowrap{
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				text-align: center;
			}

	#hero  .logo{
			text-align: center;
			background: #fff;
			width: 100%;
			max-width: 124px;
			border-radius: 50%;
			padding: 15px 17px;
			margin: 0 auto;
			margin-bottom: 20px;
		    transform: scale(0);
			transition: all 1s ease-in-out;
			opacity: 0;
			}
				#hero  .logo.active{
				  transform: scale(1);
				  opacity: 1;
				  
				}
					#hero  .logo img{
						width: 100%;
						margin: 0 auto;
						display: block;
					}
		#hero .hero-content h1{
			text-align: center;
			color: #fff;
			font-size: 55px;
			font-weight: bold;
			font-family: Arial;
			position: relative;
			left: -100px;
			transition: all 3s ease-in-out;
			opacity: 0;
		}
			#hero .hero-content h1.active{
				left: 0;
				opacity: 1;
			}

			#hero .hero-content h1 span {
				font-size: 27px;
				display: block;
				margin-block: 15px;
			}
		#hero .hero-content p{
			font-size: 24px;
			padding-top: 10px;
			display: inline-block;
			vertical-align: top;
			line-height: 1.4;
		}
		#hero .hero-content a.hire-bttn{
			height: auto;
			padding: 1.2rem 3.2rem;
			font-size: 13px;
			line-height: normal;
			text-transform: uppercase;
			font-family: arial;
			font-weight: 700;
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			letter-spacing: 0;
			border-radius: 50px;
			border: 2px solid #fff;
			color: #999;
			display: block;
			max-width: 300px;
			color: #fff;
			margin: 35px auto;
			text-decoration: none;
			opacity: 0;
			transform: scale(0);
		}
			#hero .hero-content a.hire-bttn.active{
 				transform: scale(1);
 				opacity: 1;

			}
			#hero .hero-content a.hire-bttn:hover{
				background: #fff;
				border-color: #fff;
				color: #000;
				max-width: 320px;
			}

		#hero .hero-content .learn-more{
			position: absolute;
			left: 0;
			bottom: 40px;
			z-index: 10;
			width: 100%;
			opacity: 0;
			transition: all 2s ease-in-out;		
		}
			#hero .hero-content .learn-more.active{
				opacity: 1;
			}
			#hero .hero-content .learn-more a{
				color: #fff;
				text-decoration: none;
				text-align: center;
				display: block;
				font-size: 17px;
				text-transform: uppercase;
			}

			#hero .social{
			    font-size: 26px;
			}
				#hero .social a{
					color: #fff;
				}

			/* Cursor */
.typed-cursor{
	opacity: 1;
	animation: typedjsBlink 0.7s infinite;
	-webkit-animation: typedjsBlink 0.7s infinite;
	animation: typedjsBlink 0.7s infinite;
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
	margin-left: 10px;
}
@keyframes typedjsBlink{
	50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
	0% { opacity: 1; }
	50% { opacity: 0.0; }
	100% { opacity: 1; }
}
.typed-fade-out{
	opacity: 0;
	transition: opacity .25s;
	-webkit-animation: 0;
	animation: 0;
}

/** SKILLS **/
.skills-sections{
    background: url(images/man2.png) no-repeat;
    background-size: 16%;
    background-position: 17px bottom;
}
	.skills-sections h2{
		font-size: 50px;
		text-align: center;
		padding: 40px 0;
		font-weight: 700;
	}
.skills-sections .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skills-sections .skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skills-sections .skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skills-sections .skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skills-sections .skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

#my-works{
    width: 100%;
    height: auto;
    background: url(images/man1.png) no-repeat #eee;
    color: #524e4d;
    margin-top: 50px;
    padding-bottom: 150px;
    background-size: 20%;
    background-position: right bottom;
}
	#my-works h2{
		font-size: 50px;
		text-align: center;
		font-weight: 700;
		padding-top: 50px;
		padding-bottom: 11px;
	}

	#my-works p{
		font-size: 25px;
		text-align: center;
		margin-bottom: 40px;
	}
		#my-works p a{
		    color: #fda607;
		}
		#my-works p a{
			color: #524e4d;
			text-decoration: none;
		}

	#my-works .project_list{
		margin-bottom: 30px;
		overflow: hidden;
	}
		#my-works .project_list .proj-wrap {
			position: relative;
			width: 100%;
			height: auto;
		}
			#my-works .project_list .proj-wrap canvas{
				display: block;
				width: 100%;
				height: auto;
				background-color: #fda607;
				background-size: contain;
				background-position: top;
				background-repeat: no-repeat;
			}

			#my-works .project_list .proj-wrap .content-wrap{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: auto;
				transition: all .5s ease-out;
			}
					

			#my-works .project_list .proj-wrap .content-wrap h3 {
			    padding: 10px;
			    text-align: center;
			    font-weight: bold;
			}

			#my-works .project_list .proj-wrap .content-wrap h4 {
			    text-align: center;
				padding: 0 10px;
				line-height: 1.4;
			}

			#my-works .project_list .proj-wrap .content-wrap .bttncta{
				display: block;
				padding: 20px 0;
				text-align: center;
			}
				#my-works .project_list .proj-wrap .content-wrap .bttncta a{
					display: inline-block;
					vertical-align: top;
					background: #d35400;
					color: #fff;
					border-radius: 20px;
					padding: 13px;
					text-decoration: none;
					transition: all .5s ease-out;

				}
					#my-works .project_list .proj-wrap .content-wrap .bttncta a:hover{
						background: #96640a;
					}

#services{
	padding-bottom: 100px;
	padding-top: 30px;
}
	#services h2{
		font-size: 50px;
		text-align: center;
		font-weight: bold;
		padding-top: 50px;
		padding-bottom: 60px;
	}

	#services p{
		font-size: 25px;
		text-align: center;
		margin-bottom: 40px;
	}
		#services p a{
		    color: #fda607;
		}
		#services p a{
			color: #524e4d;
			text-decoration: none;
		}

	.services-container{
		display: flex;
		flex-flow: row nowrap;
	}	
		.services-container a{
			display: block;
			width: 372px;
			height: 243px;
			background: #fda607;
			border-radius: 50%;
			position: relative;
			text-align: center;
			margin: 0 15px;
			color: #fff;
			text-decoration: none;
		}
			.services-container a img{
				display: block;
				position: absolute;
				width: 27%;
				left: 50%;
				top: 28%;
				transform: translate(-50%, 0);
			}

			.services-container a svg{
				display: block;
				position: absolute;
				width: 27%;
				left: 50%;
				top: 28%;
				transform: translate(-50%, 0);
				font-size: 60px
			}
			.services-container a span {
			    position: absolute;
			    top: 57%;
			    display: block;
			    width: 100%;
			    text-align: center;
			    padding: 0 20px;
			    line-height: 1.2;
			}
#sub-footer {
    background: #fda607;
    padding: 50px;
    color: #292929;
}
	#sub-footer .intro {
	    font-size: 30px;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 10px 0;
	}

	#sub-footer .statement {
	    text-align: center;
	    padding: 10px;
	    font-size: 19px;
	}

	#sub-footer ul {
	    padding-top: 20px;
	    text-align: center;
	}
		#sub-footer li {
			padding: 3px 0;
		}

			#sub-footer a {
			    color: #292929;
			    text-decoration: none;
			    font-size: 33px;
				transition: all .5s ease-out;

			}
				#sub-footer a:hover{
					color: #fff;
				}



			#sub-footer li svg {
			    width: 29px;
			    margin-right: 7px;
			}

			#sub-footer  a.resume-bttn {
				background: #d35400;
				display: block;
				padding: 10px;
				border-radius: 10px;
				margin-top: 0;
				color: #fff;
				text-decoration: none;
				font-size: 20px;
				width: 191px;
				text-align: center;
				margin: 40px auto 0;
			}
				#sub-footer  a.resume-bttn:hover{
					opacity: 0.8;
				}

#achivements{
	padding-bottom: 100px;
	padding-top: 30px;
}
	#achivements h2{
		font-size: 50px;
		text-align: center;
		font-weight: bold;
		padding-top: 50px;
		padding-bottom: 60px;
	}

	#achivements p{
		font-size: 25px;
		text-align: center;
		margin-bottom: 40px;
	}
		#achivements p a{
		    color: #fda607;
		}
		#achivements p a{
			color: #524e4d;
			text-decoration: none;
		}

	#achivements img{
		display: block;
		width: 100%;
	}

.footer {
	background: #3e3e3e;
	text-align: center;
	color: #ffffff;
	height: auto;
	width: 100%;
	font-size: 0;
	padding: 100px 0;
}
	
	.footer .container{
		height: 100%;
	}
	.footer .footer-content{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: auto;
		font-size: 15px;
	}
		.footer .footer-content .footer-logo{
			text-align: center;
			background: #fff;
			width: 100%;
			max-width: 90px;
			border-radius: 50%;
			padding: 10px 13px;
			margin: 0 auto;
			margin-bottom: 20px;
		} 
			.footer .footer-content .footer-logo img{
				display: block;
				width: 100%;
				height: auto;
			}
	.footer .container:after{
		content: "";
	    height: 100%;
	    width: 0;
	    display: inline-block;
	    vertical-align: middle;
	}
	.footer .footer-content .social{
		margin-top: 10px;
	}
		.footer .footer-content .social a{
			font-size: 30px;
			display: inline-block;
			vertical-align: top;
			color: #fff;
			text-decoration: none;
			margin: 0 5px;
		}
/** THEME **/
@media (max-width: 1024px) { 
	.services-container a{
	    height: 204px;
	}
	.services-container a span{
		font-size: 13px;
		padding-top: 10px;
	}
}
@media (max-width: 992px) { 
	.fixed-header .navigation{
		display: none;
	}
	.services-container{
	    flex-flow: column;
	    align-items: center;
	}

	.services-container a{
		width: 236px;
		margin-bottom: 20px;
	}
}
@media (max-width: 768px) { 
	#sub-footer a{
		font-size: 22px;
	}


}


