/* Breakpoints */
$breakpoint-ipad-landscape: 1199px;
$breakpoint-ipad-portrait: 991px;
$breakpoint-galaxy-tab-3: 767px;
$breakpoint-mobile: 480px;

/* Font */
$font-family: 'Inter', sans-serif;
/* Font */

/* Colors */

$default-color: #535353;
$heading-color:#181818;
$primary-color: #2e256b;
$secondary-color: #4768B1;
$accent-color: #4768B1;
$hover-color: #4768B1;

/* Colors */


/* Transitions */
$transition: all 0.4s ease-in-out;
/* Transitions */