@import '_reset';
@import '_innerpages';
@import '_defaults';
@import '_variables';
@import '_components';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

@keyframes glitchLine {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10% {
        transform: translate3d(10px, 0, 0);
    }

    20% {
        transform: translate3d(0, 4px, 0);
    }

    30% {
        transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
        transform-origin: 100% 0%;
    }

    40% {
        transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
    }

    50% {
        transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
    }

    60% {
        transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
    }

    70% {
        transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
    }

    80% {
        transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
        transform-origin: 100% 0%;
    }

    90% {
        transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
        transform-origin: 0% 50%;
    }

    100% {
        opacity: 1;
    }
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: $transition;

    .header-container{
        padding: 4vw 3.788vw;
        transition: $transition;

        .logo {
            transition: $transition;
           
            
            a {
                color: #000;
                text-decoration: none;
            }

            .logo-pic {
                width: 3.586vw;
            }

            .logo-text {
                text-transform: uppercase;
                font-weight: 700;
                padding-left: 18px;
                transition: $transition;
                position: relative;
                overflow: hidden;

                p{
                    font-size: 1.475vw;
                    transition: $transition;
                }
                span{
                    font-size: 1.25vw;
                    display: block;
                    transition: $transition;
                }
            }
        }
    }
   
    .navigation {
        
        transition: $transition;
        visibility: hidden;
        opacity: 0;
        ul{
            display: flex;
            li {
                margin: 0 20px;

                a {
                    color: #000;
                    font-weight: 700;
                    text-decoration: none;
                    position: relative;
                    padding: 10px 5px;
                    font-size: 16px;

                    em {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 12px;
                        display: block;
                        color: gray;
                    }

                    &:after {
                        display: block;
                        content: "";
                        height: 2px;
                        opacity: 0;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background: #000;
                    }
                }

                &:hover a::after {
                    opacity: 1;
                    animation: glitchLine 0.4s steps(2, start) forwards;
                }
            }
        }
            
    }


    /* Fixed Header */
    &.header-float{
        background: #fff;
        .header-container{
            padding: 1vw 3.788vw;


            .logo{
                
                .logo-text{
                   p{
                        margin-left: -50%;
                        opacity: 0;
                   }
                   span{
                        margin-left: -50%;
                        opacity: 0;
                   }
                }
            }

            .navigation{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    /* Fixed Header */
}

/* Logo */

/* Logo */

/* Navigation */

/* Navigation */
/* Header */

/* Hero */

.hero {
    background: #fff;

    .hero-text {
        left: 3.788vw;
        width: 38.737vw;

        h1 {
            color: #2d2370;
            font-size: 3.75vw;
            font-weight: 700;
            line-height: 1.2;

            em{
                font-style: normal;
            }
            span,
            i {
                display: block;
                font-size: 1.563vw;
                font-style: normal;
            }
        }

        p {
            font-size: 1.125vw;
            color: #2d2370;
            padding: 1.010vw 0;
        }
    }

    .hero-image {
         > img{
            width: 73.838vw;
        }
    
        .hero-image-me-1{
            width: 22.626vw;
            top: 10.455vw;
            right: 22.525vw;
        }
        .hero-image-me-2{
            width: 17.020vw;
            bottom: 14.899vw;
            right: 2.374vw;
        }
    }
}

/* Hero Text */

/* Hero Text */
/* Hero Image */

/* Hero Image */
/* Hero */

/* Footer */

footer {
    background: #000;
    color: #fff;
    text-align: center;
}

/* Footer */